<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dk.aau.rejsekortmobile"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="11" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/rejsekort_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="dk.aau.rejsekortmobile.MainActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="CheckInOutReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="dk.aau.rejsekortmobile.CHECK_IN" />
            </intent-filter>
        </receiver>
        <service 
            android:name="MyService"
            android:enabled="true"
            android:exported="false"></service>
    </application>

</manifest>